{
  "presets": [
      [
        "@babel/preset-env"
      ],
      "@babel/preset-react"
  ],
  "plugins": [
      "@babel/plugin-syntax-dynamic-import",
      ["@babel/plugin-transform-runtime"],
      [
        "import",
        {
          "libraryName": "antd-mobile",
          "style": "css"
        }
      ],
      [
        "@babel/plugin-proposal-decorators",
        {
          "legacy": true
        }
      ],//对装饰器的支持
      ["@babel/plugin-proposal-class-properties"] //对class内写箭头的支持
  ]
}