<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div id="box1"></div>
    <div id="box2"></div>
    <!-- 模版，最后以这个模版加上生成的js文件生成dist中新的HTML -->
    <!-- <%= htmlWebpackPlugin.options.BASE_URL %> -->
    <div id="root"></div>
    <% if (htmlWebpackPlugin.options.env) { %>
    <script src="/webpack-dev-server.js"></script>
    <% } else {%>
    <script src="/MyDll.react.js"></script>
    <script src="/MyDll.others.js"></script>
    <% } %>
  </body>
</html>
